name: Code coverage

on:
    workflow_run:
        workflows: [CI]
        types: [completed]
        branches: [master, develop]
    workflow_dispatch:

env:
    CARGO_TERM_COLOR: always
    RUST_BACKTRACE: 1

jobs:
    coverage:
        name: Code Coverage (troc-core)
        runs-on: ubuntu-latest
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
            - uses: Swatinem/rust-cache@v2
            - uses: taiki-e/install-action@v2
              with:
                  tool: cargo-tarpaulin
            - run: cargo tarpaulin --out html --out xml
            - name: Upload coverage pages artifact
              uses: actions/upload-artifact@v4
              with:
                  name: coverage-report
                  path: coverage/
